<div class="app-title">Angular Playground</div>
<nav>
    <a routerLink="/commands">Commands</a>
    <a routerLink="/string-interpolation">String Interpolation</a>
    <a routerLink="/property-binding">Property Binding w/ Input & Output</a>
    <a routerLink="/event-binding">Event Binding</a>
    <a routerLink="/class-style-binding">Class & Style Binding</a>
    <a routerLink="/attribute-binding">Attribute Binding</a>

    <a routerLink="/ngmodel">ngModel</a>
    <a routerLink="/template-variables">Template Variables</a>
    <a routerLink="/svg-templates">SVG Templates</a>
    <a routerLink="/ng-container">ng-container</a>
    <a routerLink="/ng-content">ng-content</a>
    <a routerLink="/ng-template">ng-template</a>
    <a routerLink="/ng-optimized-image">ng-optimized-image</a>

    <a routerLink="/basic-custom-structural-directive">Basic Custom Structural Directive</a>
    <a routerLink="/template-ref">Template Ref</a>
    <a routerLink="/view-container-ref">View Container Ref</a>
    <a routerLink="/host-listener">Host Listener</a>

</nav>
