<div class="component-title">Commands</div>
<div class="content-container">
    npx @angular/cli@15.2.2 new Angular15Project
</div>

<div class="component-title">Links</div>
<div class="content-container">
    <ul>
        <li><a href="https://javascript.plainenglish.io/angular-cheatsheet-e4f7771e67f2">Angular Cheatsheet</a></li>
        <li><a href="https://lazyweb.rocks/?ref=producthunt"></a>Lazy Web</li>
    </ul>
    
</div>


<div class="component-title">Ideas</div>
<div class="content-container">
    drag & drop, directives, directive/components, output, ng-template, ng...other things, library, observable, promises, pipes, custom pipe, hostlistener and other things(element ref) brought up in component directive tutorial
</div>
