
.big-font {
  font-size: 2rem;
}
.green-bg {
  background-color: darkolivegreen;
}
.big-font-weight {
  font-weight: 800;
}



.dog {
  background-color: bisque;
}
.bone {
  padding: 2rem;
  color: cornflowerblue;
}


.cemetary-bg {
  background-color: rgb(20, 20, 20);
}
.frail-size {
  font-weight: 100;
  font-size: 0.8rem;
}
.white-text {
  color: cornsilk;
}
.booyah-padding {
  padding: 3rem;
}



.sale {
  background-color: greenyellow;
}
