<div class="component-title">Attribute Binding</div>
<div class="content-container">
    Set values for attributes - beit accessibility, styles or css classes
    <br><br>
    Input field disabled by attribute binding<input type="text" [attr.disabled]="true">
    <br><br>
    Input field draggable by attribute binding & var<input type="text" [attr.draggable]=draggableBoolean>
    <br><br>
    There are a ton, but popular attributes are autoplay and disabled
    <br>
    <a href="https://www.w3schools.com/tags/ref_attributes.asp">W3 attribute list</a>
</div>
