<div class="component-title">View Container Ref</div>
<div class="content-container">

  <p>TemplateRef helps you get to the ng-template contents and ViewContainerRef accesses the view container.</p>

  <p>
    Represents a container where one or more views can be attached to a component.
  </p>

  <p>
    Can contain host views (created by instantiating a component with the createComponent() method), and embedded views (created by instantiating a TemplateRef with the createEmbeddedView() method).
  </p>

  <p>
    A view container instance can contain other view containers, creating a view hierarchy(components within component within component).
  </p>

  <p>
    Includes powerful methods like createEmbeddedView() and clear() - see custom structural directive 'unless' for example... also get(), insert(), move(), remove() and detach()
  </p>


</div>
