<div class="component-title">Event Binding</div>
<div class="content-container">
    <button (click)="onButtonClick($event)">Generate HTML</button>

    <br><br>
    <div *ngFor="let item of clickArray">{{ item }}</div>
    <br><br>
    keyup event binding: <input type="text" (keyup)="onKeyUp($event)">
    <br><br>
    Focus event binding: <input type="text" (focus)="onFocus($event)">
    <br><br>
    Blur event binding: <input type="text" (blur)="onBlur($event)">
    <br><br><br><br>

    <div>
      // Full list of Angular Events
      <ul>
        <li>(click)="myFunction()"</li>
        <li>(dblclick)="myFunction()"</li>
        <li>(submit)="myFunction()"</li>
        <li>(blur)="myFunction()"</li>
        <li>(focus)="myFunction()"</li>
        <li>(scroll)="myFunction()"</li>
        <li>(cut)="myFunction()"</li>
        <li>(copy)="myFunction()"</li>
        <li>(paste)="myFunction()"</li>
        <li>(keyup)="myFunction()"</li>
        <li>(keypress)="myFunction()"</li>
        <li>(keydown)="myFunction()"</li>
        <li>(mouseup)="myFunction()"</li>
        <li>(mousedown)="myFunction()"</li>
        <li>(mouseenter)="myFunction()"</li>
        <li>(drag)="myFunction()"</li>
        <li>(drop)="myFunction()"</li>
        <li>(dragover)="myFunction()"</li>
      </ul>
    </div>
    <br><br>
    <div>
      Event Types for functions receiving events
      <ul>
        <li>MouseEvent</li>
        <ul>
          <li>click</li>
          <li>mouseup</li>
          <li>mouseleave</li>
          <li>mouseover</li>
        </ul>
      </ul>

      <ul>
        <li>FocusEvent</li>
        <ul>
          <li>focus</li>
          <li>blur</li>
          <li>focusin</li>
          <li>focusout</li>
        </ul>
      </ul>

      <ul>
        <li>TouchEvent</li>
        <ul>
          <li>touchstart</li>
          <li>touchmove</li>
          <li>touchcancel</li>
          <li>touchend</li>
        </ul>
      </ul>

      <ul>
        <li>DragEvent</li>
        <ul>
          <li>drag</li>
          <li>drop</li>
          <li>dragend</li>
          <li>dragover</li>
        </ul>
      </ul>

      <ul>
        <li>KeyboardEvent</li>
        <ul>
          <li>keypress</li>
          <li>keyup</li>
          <li>keydown</li>
        </ul>
      </ul>

      <ul>
        <li>Event(Generic)</li>
        <ul>
          <li>close</li>
          <li>change</li>
          <li>invalid</li>
          <li>play</li>
          <li>reset</li>
          <li>scroll</li>
          <li>select</li>
          <li>submit</li>
          <li>toggle</li>
          <li>waiting</li>
        </ul>
      </ul>

    </div>


    <div class="all-event-text">All Typescript events and types listed in commented out code below - 94 Total</div>


    <!-- If you dig in Typescript's repository, dom.generated.d.ts provides a global events interface (credit goes to Eric's answer) where you may find all the event handlers mappings at line 5419:

    interface GlobalEventHandlersEventMap {
        "abort": UIEvent;
        "animationcancel": AnimationEvent;
        "animationend": AnimationEvent;
        "animationiteration": AnimationEvent;
        "animationstart": AnimationEvent;
        "auxclick": MouseEvent;
        "beforeinput": InputEvent;
        "blur": FocusEvent;
        "canplay": Event;
        "canplaythrough": Event;
        "change": Event;
        "click": MouseEvent;
        "close": Event;
        "compositionend": CompositionEvent;
        "compositionstart": CompositionEvent;
        "compositionupdate": CompositionEvent;
        "contextmenu": MouseEvent;
        "cuechange": Event;
        "dblclick": MouseEvent;
        "drag": DragEvent;
        "dragend": DragEvent;
        "dragenter": DragEvent;
        "dragleave": DragEvent;
        "dragover": DragEvent;
        "dragstart": DragEvent;
        "drop": DragEvent;
        "durationchange": Event;
        "emptied": Event;
        "ended": Event;
        "error": ErrorEvent;
        "focus": FocusEvent;
        "focusin": FocusEvent;
        "focusout": FocusEvent;
        "formdata": FormDataEvent;
        "gotpointercapture": PointerEvent;
        "input": Event;
        "invalid": Event;
        "keydown": KeyboardEvent;
        "keypress": KeyboardEvent;
        "keyup": KeyboardEvent;
        "load": Event;
        "loadeddata": Event;
        "loadedmetadata": Event;
        "loadstart": Event;
        "lostpointercapture": PointerEvent;
        "mousedown": MouseEvent;
        "mouseenter": MouseEvent;
        "mouseleave": MouseEvent;
        "mousemove": MouseEvent;
        "mouseout": MouseEvent;
        "mouseover": MouseEvent;
        "mouseup": MouseEvent;
        "pause": Event;
        "play": Event;
        "playing": Event;
        "pointercancel": PointerEvent;
        "pointerdown": PointerEvent;
        "pointerenter": PointerEvent;
        "pointerleave": PointerEvent;
        "pointermove": PointerEvent;
        "pointerout": PointerEvent;
        "pointerover": PointerEvent;
        "pointerup": PointerEvent;
        "progress": ProgressEvent;
        "ratechange": Event;
        "reset": Event;
        "resize": UIEvent;
        "scroll": Event;
        "securitypolicyviolation": SecurityPolicyViolationEvent;
        "seeked": Event;
        "seeking": Event;
        "select": Event;
        "selectionchange": Event;
        "selectstart": Event;
        "slotchange": Event;
        "stalled": Event;
        "submit": SubmitEvent;
        "suspend": Event;
        "timeupdate": Event;
        "toggle": Event;
        "touchcancel": TouchEvent;
        "touchend": TouchEvent;
        "touchmove": TouchEvent;
        "touchstart": TouchEvent;
        "transitioncancel": TransitionEvent;
        "transitionend": TransitionEvent;
        "transitionrun": TransitionEvent;
        "transitionstart": TransitionEvent;
        "volumechange": Event;
        "waiting": Event;
        "webkitanimationend": Event;
        "webkitanimationiteration": Event;
        "webkitanimationstart": Event;
        "webkittransitionend": Event;
        "wheel": WheelEvent; -->


</div>

