/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 auto ;
  padding: 0;
  font-family: 'Barlow Condensed', sans-serif;
}

.component-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 3rem;
}

.content-container {
  margin-top: 2rem;
  width: 40%;
  min-width: 40rem;
}

.author-says {
  color: chocolate;
  font-size: 1.5rem;
  font-weight: 600;
}


a:link {
  text-decoration: none;
  color: #009f97;
  transition: 100ms;
}

a:visited {
  text-decoration: none;
  color: #009f97;
  transition: 100ms;
}

a:hover {
  text-decoration: none;
  color: rgb(255, 37, 99);
  transition: 100ms;
  cursor: default;
}

a:active {
  text-decoration: none;
  color: white;
}
